= form_with model: @attendance, url: user_attendances_path(@user) do |form|
  %div
    = form.submit disabled: @isAttendance[0]

= form_with model: @attendance, url: user_attendance_path(@user, @isAttendance[1]), method: :patch do |form|
  %div
    = form.submit disabled: !@isAttendance[0]

%p= @isAttendance[0]

%p= '出勤中レコードID'
%p= @isAttendance[1]